#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 65%;
    background-color: black;
    color: #fff;
    padding: 20px 0;
}

.footer p {
    margin-bottom: 0;
}
